/* ------------------------
*
* KEYNERS
* http://keyners.pl/
*
* SORTABLE GALLERY - FREEBIE
* 
* --------------------------
*/



body {margin:0; padding: 0; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
body {background: #fff; color: #000;}






/* ------------------------
*
* 	Headings, anchor, paragraph
*
*  -------------------------- */
h1,h2,h3,h4,h5,h6 {width:100%;float:left;}
h1 {text-align: center; font-size: 44px; font-family: 'Montserrat'; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.5);}

a, a:visited {color: #2F86BE; text-decoration: none;}

p {font-size: 13px; color: #585858; line-height: 18px; padding-bottom: 10px;}
p b {font-weight: 400}





/* ------------------------
*
* 	Section, article
*
*  -------------------------- */
section, article {width: 100%; /*float: left;*/ margin: 30px 0;}






/* ------------------------
*
* 			Navigation
*
*  -------------------------- */

header {width: 100%; float: left; padding: 175px 0; background:  url(../images/misc/bg_body.png)  center 0 fixed;} 








/* ------------------------
*
* 		ul#Sortable Gallery
*
*  -------------------------- */
ul.sortable {width: 100%; float: left; margin: 20px 0; list-style: none; position: relative !important;}
ul.sortable li {height: 100%; float: left; border: 2px solid #fff; cursor: move;}
ul.sortable li img {/*height: 100%;*/ float: left;}
ul.sortable li.ui-sortable-helper {border-color: #3498db;}


ul.sortable li.placeholder {width: 300px; height: 200px; float: left; background: #eee; border: 2px dashed #bbb; display: block; opacity: 0.6;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}



button.save {float: left; padding: 10px 13px; border: none; outline: none; background: #27ae60; color: #fff; font-family: 'Montserrat', Arial, sans-serif; text-transform: uppercase; cursor: pointer; letter-spacing: 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
button.save:hover {background: #2ecc71;}







/* ------------------------
*
* 		download button
*
*  -------------------------- */
.holder {width: 100%; float: left; margin: 20px 0; text-align: center;}
a.download {display:inline-block; padding: 13px 22px; color: #fff; background: #9b59b6; font-family: 'Montserrat', Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}




/* ------------------------
*
* 			Footer
*
*  -------------------------- */
footer {width: 100%; float: left; margin-top: 20px; padding: 35px 0; background: #e3e3e3; color: #aaa; font-family: 'Montserrat'; text-align: center; font-size: 12px;}

.modal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;


}
.modal-content {
	/* position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem; */
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}
.close-button:hover {
	background-color: darkgray;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scaleX(1.0) scaleY(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.container {
	list-style:none;
	margin: 0;
	padding: 0;
  }

  /*float layout*/
.float {
	max-width: 1200px;
	margin: 0 auto;
  }
  .float:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
  .float-item {
	float: left;
  }

  .item {
	padding: 5px;
	width: 300px;
	height: 150px;
	margin: 10px;
	
	line-height: 150px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 3em;
	text-align: center;
  }

  .limit-two-line{
	font-size: 20px;
    line-height: 1.5em;
    height: 3.2em;
    overflow: hidden;
  }

.imgwrap {
    position:relative;
    width:100%;
    padding:80% 0 0;
    overflow: hidden;
    margin:10px;
    /* display:inline-block; */
}
.imgwrap img {
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.grey_sold{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	.modal-content {
		width: 100%;
	}
}